doctype html
html
    include head.pug
    script.
        $(document).ready(function() {
            $('.panel-default').on('click', function() {
                $(this).siblings().find(".panel-heading").removeClass("panel-heading-active");
                $(this).find(".panel-heading").addClass("panel-heading-active");
            });
        });
    include template.pug
        .container
            div.pre-scrollable.allDocsBox.col-xs-8
                #accordion.panel.panel-group
                    each doc in user_documents
                        .panel.panel-default
                            .brown.panel-heading
                                h4.panel-title
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#col_1') #{doc.title}
                            #col_1.panel-collapse.collapse
                                .panel-body
                                    img.col-xs-3.document-image(src='http://pngimages.net/sites/default/files/document-png-image-54169.png')
                                    p Document description:
                                    p #{doc.description}
                                    a(method='GET' href='/doc-view-info')
                                        h4.doc_download
                                            u view all info
