doctype html
html
	include head.pug
	script.
		$(window).resize(function() {
			var path = $(this);
			var contW = path.width();
			if(contW >= 751){
				document.getElementsByClassName("sidebar-toggle")[0].style.right="200px";
			}else{
				document.getElementsByClassName("sidebar-toggle")[0].style.right="-200px";
			}
		});
		$(document).ready(function() {
			$('.dropdown').on('show.bs.dropdown', function(e){
				$(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
			});
			$('.dropdown').on('hide.bs.dropdown', function(e){
				$(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
			});
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				var elem = document.getElementById("sidebar-wrapper");
				right = window.getComputedStyle(elem,null).getPropertyValue("right");
				if(right == "200px"){
					document.getElementsByClassName("sidebar-toggle")[0].style.right="-200px";
				}
				else if(right == "-200px"){
					document.getElementsByClassName("sidebar-toggle")[0].style.right="200px";
				}
			});
		});
		$(function(){
			$(".panel.panel-chat > .panel-heading > .chatMinimize").click(function(){
				if($(this).parent().parent().hasClass('mini')){
					$(this).parent().parent().removeClass('mini').addClass('normal');
					$('.panel.panel-chat > .panel-body').animate({height: "250px"}, 500).show();
					$('.panel.panel-chat > .panel-footer').animate({height: "75px"}, 500).show();
				}
				else {
					$(this).parent().parent().removeClass('normal').addClass('mini');
					$('.panel.panel-chat > .panel-body').animate({height: "0"}, 500);
					$('.panel.panel-chat > .panel-footer').animate({height: "0"}, 500);
					setTimeout(function() {
					$('.panel.panel-chat > .panel-body').hide();
					$('.panel.panel-chat > .panel-footer').hide();
					}, 500);
				}
			});
			$(".panel.panel-chat > .panel-heading > .chatClose").click(function(){
				console.log($(this).parent().parent());
				$(this).parent().parent().hide();
			});
			$('a[href="#item1"]').on('click', function() {
				console.log("identify each friend");
			})
		})
		function show_info($uid2, $uid1, $username, $message, $message2) {
			$('.panel').show();
			$('a.chatMinimize').text($username);
			if($message2 == 'null')
				$('.messageHer span').text('');
			else
				$('.messageHer span').text($message2);
			if($message == 'null')
				$('.messageMe span').text('');
			else
				$('.messageMe span').text($message);
			var html_to_add = '<form id="messageForm" action="/message/' + $uid1 + '/' + $uid2 + '" method="POST"> <textarea name="messages" id="messages" cols="0" rows="0" class="col-xs-9"></textarea> <button type="submit" id="sendMsgButton" class="col-xs-3">Trimite</button></form>';
			$(".panel-footer").html(html_to_add);
		}

		function sendMessage() {
			alert(document.getElementById("textMessage").value)
			return true
		}
	include template.pug
		
		.container
			#sidebar-wrapper.sidebar-toggle
				ul.sidebar-nav
					each user,index in user_list
						- var message = "null"
						- var message2 = "null"
						each user_mes in user_send
							if user_mes.uid2 == user.id
								- message = user_mes.messages
								- break
						each user_mes in user_received
							if user_mes.uid2 == uid
								- message2 = user_mes.messages
								- break
						li
							a(href='#item' + index + '' onclick="show_info(" + user.id +", " + uid + ", '" + user.username + "', '" + message + "', '" + message2 + "')")
								table
									tr.friend
										td(style='width: 20%')
											img.pic.img-circle.img-responsive(src='http://i0.kym-cdn.com/photos/images/original/001/054/924/d3d.png')
										td
											h5 #{user.username}
		.container
			.row
				.panel.panel-chat.normal(style="display:none;")
					.panel-heading
						a.chatMinimize(href='#', onclick='return false')
							span Chat Box
						a.chatClose(href='#', onclick='return false')
							i.glyphicon.glyphicon-remove
						.clearFix
					.panel-body
						.messageMe
							img(src='http://i0.kym-cdn.com/photos/images/original/001/054/924/d3d.png', alt='')
							span.message Send me a message!
							.clearFix
						.messageHer
							img(src='http://i0.kym-cdn.com/photos/images/original/001/054/924/d3d.png', alt='')
							span.message Send me a message!
							.clearFix
					.panel-footer
						form#messageForm(onsubmit="return sendMessage()")
							textarea.col-xs-9(name='messages', id='messages' cols='0', rows='0')
							button.col-xs-3(type='submit', id='sendMsgButton') Trimite
