doctype html
html
	script.
		function send_comment() {
			alert(document.getElementById("comment_input").value)
		}
	include head.pug
	include template.pug
		.row.doc_page
			img.col-xs-3.document-image(src='http://pngimages.net/sites/default/files/document-png-image-54169.png')
			.col-xs-1.divider
			.col-xs-4
				h1.doc_name Titlu document
				table.file-details(width='100%')
					tr(style='background-color: black;')
						th Size
						th Uploader
						th Type
					tr
						td 40 MB
						td Ion Ion
						td Subiect examen
				a
					h4.doc_download
						u Download this document
		.row.doc_page
			form#commentForm(onsubmit="send_comment()")
				textarea.col-xs-8.doc-descr(id="comment_input", rows='5')
				button.col-xs-8(type='submit', id='sendCommentButton' cols='5') Trimite

		.row.doc_page
			.col-xs-3.rating(style='background: #ddd; border: 3px solid;')
				h4 Rate this document:
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star
				span.fa.fa-star
				p 3.1 average based on 254 reviews.
		.row.doc_page
			ul.col-xs-8.comments
				li
					h5
						b Ion Ion
					p.comm-content Frumos subiectul asta, thanks uploader.
					p.comm-time Posted at 23:59, 10/02/2018
				li
					h5
						b Dorel #1
					p.comm-content
						| Boss de boss
						br
						| Haters gonna hate
						br
						| H8r Sk8r
					p.comm-time Posted at 23:59, 10/02/2018
				li
					h5
						b Ion Ion
					p.comm-content Frumos subiectul asta, thanks uploader.
					p.comm-time Posted at 23:59, 10/02/2018
				li
					h5
						b Ion Ion
					p.comm-content Frumos subiectul asta, thanks uploader.
					p.comm-time Posted at 23:59, 10/02/2018
				li
					h5
						b Ion Ion
					p.comm-content Frumos subiectul asta, thanks uploader.
					p.comm-time Posted at 23:59, 10/02/2018
