<!DOCTYPE html>
	<body>
		<h1 class="LoginHeader">Welcome to ACS Peek</h2>
		<div class = "container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div id="firstColumn" class = "containerClass">
						Text static in loc de text dinamic.
					</div>
				</div>
				
				<div id="secondColumn" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class = "containerClass">
						<form id="registerForm">

							<label><b>Nume utilizator</b></label>
							<input type="text" required>

							<label><b>Parola</b></label>
							<input type="text" required>

							<label><b>Confirma parola</b></label>
							<input type="text" required>

							<button type="submit" onclick="registerButton()">Inscriere</button>

						</form>
					</div>
				</div>

				<div id="thirdColumn" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class = "containerClass">
						<form id="loginForm">

							<label><b>Nume utilizator</b></label>
							<input type="text" required>

							<label><b>Parola</b></label>
							<input type="text" required>

							<button type="submit" onclick="loginButton()">Conectare</button>

						</form>
					</div>
				</div>

			</div>
		</div>

	</body>
