doctype html
html
	script.
		function do_search() {
			alert(document.getElementById("search_input").value)
		}

	include head.pug
	include template.pug
		.row
			.col-xs-6.search-bar
				form#searchForm(onsubmit="do_search()")
					input(type="text", placeholder="Search..", id="search_input" name="search")
				//button(type="submit")
					i.fa.fa-search
		.row(style="padding-left: 50px;")
			h3.col-xs-6.main-title
				b All documents
			.col-xs-1
			h3.col-xs-3.secondary-title
				b Your documents
		.row(style="padding-left: 50px;")
			table.col-xs-6.all-files-table
				thead
					tr(style='background-color: black;')
						th Name
						th Size
						th Uploader
						th Type
				tbody
					tr
						td IOC - Curs I
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs II
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs III
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs IV
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs V
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs VI
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs VII
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs VIII
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs IX
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs X
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs XI
						td infinite
						td Trausan-Matu
						td bullshit
					tr
						td IOC - Curs XII
						td infinite
						td Trausan-Matu
						td bullshit
			.col-xs-1
			table.col-xs-3.user-files-table
				tbody
					tr
						td Curs 2 IA
					tr
						td.file-actions
							a
								u Edit document
							br
							br
							a
								u Share with friends
					tr
						td Laboratoare AA
					tr
						td Seminar PP
					tr
						td Date Examen 335CC
					tr
						td Date Examen 335CC
					tr
						td Date Examen 335CC
					tr
						td Date Examen 335CC
					tr
						td Date Examen 335CC
