doctype html
html
	include head.pug
	body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Soulstone
				#myNavbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#') Cursuri
						li
							a(href='#') Profesori
						li
							a(href='#') Subiecte Examen
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#')
								span.glyphicon.glyphicon-wrench
								|  Setari
						li
							a(href='/go-all-documents')
								span.glyphicon.glyphicon-file
								|  Documente
						li
							form#logout-button(method="post", action="/logout")
								input(type="submit", name="logout", value="Logout")
		.container-fluid.body-container
			.row
				.col-lg-2.col-md-3.col-sm-4.col-xs-12.user-info
					img.profile-picture#pic(src='http://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person', alt='Profile image')
					.profile-username
						|	#{username}
						br
						a.profile-edit(href='/go-edit-profile') Edit profile
					.profile-option
						a.href-no-style(href='/go-upload-documents')
							span.glyphicon.glyphicon-paperclip
							|  Upload Documents
					.profile-option
						span.glyphicon.glyphicon-star
						|  Rate Users
				.col-lg-10.col-md-9.col-sm-8.col-xs-12.page-info
					|
		script(type="text/javascript").
			$(function () {
				document.getElementById('pic').src = '#{profile_picture}'
			})