.navbar {
	margin-bottom: 0px;
}

.user-info {
	border-right: 2px solid #000;
	min-height: 770px;
	padding: 20px 0px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

.profile-username {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 40px 0px;
}

.profile-edit {
	font-size: 12px;
	padding-top: 20px;
}

.profile-option {
	text-align: center;
	cursor: pointer;
	margin: 10px 0px;
}

.doc-form-title {
	text-align: center;
}

.doc-upload-button {
	display: block;
	margin: auto;
}

@media(max-width: 768px) {
	.user-info {
		border-right: none;
		border-bottom: 2px solid #000;
		min-height: auto;
	}
}

.LoginHeader {
	text-align: center;
	background-color: darkblue;
	color: white;
	margin-bottom: 10px;
}

.containerClass {
	border: solid;
	word-wrap: break-word;
	padding: 10px 20px;
	min-height: 700px;
	margin-top: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	border: solid;
}

button {
    border: solid;
    cursor: pointer;
    width: 100%;
	position: relative;
	top: 20px;
}

@media(max-width: 992px) {
	.containerClass {
		min-height: auto;
	}
}
