.navbar {
	margin-bottom: 0px;
}

.user-info {
	border-right: 2px solid #000;
	min-height: 770px;
	padding: 20px 0px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

.profile-username {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 40px 0px;
}

.profile-edit {
	font-size: 12px;
	padding-top: 20px;
}

.profile-option {
	text-align: center;
	cursor: pointer;
	margin: 10px 0px;
}

.doc-form-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.doc-upload-button {
	display: block;
	margin: auto;
	margin-bottom: 50px;
}

@media(max-width: 768px) {
	.user-info {
		border-right: none;
		border-bottom: 2px solid #000;
		min-height: auto;
	}

	.doc-form-title {
		margin-top: 50px;
	}
}

.LoginHeader {
	text-align: center;
	background-color: darkblue;
	color: white;
	margin-bottom: 10px;
}

.containerClass {
	border: solid;
	word-wrap: break-word;
	padding: 10px 20px;
	min-height: 700px;
	margin-top: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	border: solid;
}

button {
    border: solid;
    cursor: pointer;
    width: 100%;
	position: relative;
	top: 20px;
}

@media(max-width: 992px) {
	.containerClass {
		min-height: auto;
	}
}


/* Chat Page Style */
#sidebar-wrapper {
  top: 52px;
  right: -200px;
  width: 200px;
  background-color: #5677fc;
  color: black;
  position: fixed;
  bottom: 0px;
  background-color:white;
  overflow-y:scroll;
  overflow-x:hidden;
  border-left: 1px solid rgba(0,0,0,0.25);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: black;
  display: block;
  text-decoration: none;
  padding-left: 5px;
}
.sidebar-nav li a:hover {
  background: rgba(0,0,0,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-right: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    right: 200px;
  }
}
.friend {
  background-color:transparent;
}
{
    -webkit-border-radius: 0px  !important;
    -moz-border-radius: 0px  !important;
    border-radius: 0px !important;
}
htlm, body
{
    padding: 0;
    margin: 0;
    position: relative;
}
.clearFix
{
    clear:both;
}
.panel.panel-chat
{
    position: fixed;
    bottom:-20px;
    right:200px;
    max-width: 300px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.panel.panel-chat *
{
    background: none;
    border: none;
}
.panel.panel-chat .panel-heading
{
    background: #4b67a8;
    border: 1px solid #2e4588;
    color:#FFF;
}
.panel.panel-chat .panel-heading a:nth-of-type(1)
{
    text-decoration: none;
    width: 200px;
    color:#FFF;
    font-weight: bold;
    float:left;
}
.panel.panel-chat .panel-heading a:nth-of-type(2)
{
    text-decoration: none;
    max-width: 11px;
    width: 11px;
    color:#FFF;
    float:right;
}
.panel.panel-chat .panel-body
{
    display: block;
    padding: 0;
    margin: 0;
    max-height: 200px;
    height: 200px;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    background: #EDEFF4;
    overflow: auto;
}
.panel.panel-chat .panel-body::-webkit-scrollbar {
     display: none;
 }
.panel.panel-chat .panel-body .messageMe
{
    border-bottom:1px dotted #b2b2b2;
}
.panel.panel-chat .panel-body .messageMe img
 {
     float:left;
     max-width: 50px;
     max-height: 50px;
 }
.panel.panel-chat .panel-body .messageMe span
{
    display: block;
    float:left;
    padding: 5px;
    background: #FFF;
    min-height: 50px;
    max-width: 280px;
    height: 50px;
    width: 250px;
    word-break: break-all;
}
.panel.panel-chat .panel-body .messageHer
{
    border-bottom:1px dotted #b2b2b2;
}
.panel.panel-chat .panel-body .messageHer img
{
    float:right;
    max-width: 50px;
    max-height: 50px;
}
.panel.panel-chat .panel-body .messageHer span
{
    display: block;
    float:right;
    padding: 5px;
    background: #FFF;
    min-height: 50px;
    max-width: 280px;
    height: 50px;
    width: 280px;
    word-break: break-all;
}
.panel.panel-chat .panel-footer
{
    padding: 0;
    margin: 0;
    border: 1px solid #b2b2b2;
    max-height: 75px;
    height: 75px;
}
.panel.panel-chat .panel-footer textarea
{
    margin-bottom: -5px;
    resize: none;
    width: 100%;
    height: 100%;
}

.file-details {
	margin-top: 50px;
	margin-bottom: 50px;
	border: 3px solid;
	border-collapse: collapse;
}

.file-details th, td {
	border: 1px solid gray;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.doc-descr {
	resize: none;
	border: 3px solid;
	margin-top: 20px;
	margin-bottom: 20px;
}

.comments {
	overflow: auto;
	margin-top: 20px;
	height: 150px;
 		list-style-type: none;
 		border: 3px solid;
 		border-collapse: collapse;
 		padding: 0;
 		margin-left: 0;
 		margin-right: 0;
}

.comments li {
	border: 1px solid gray;
	padding: 5px;
}

.comments li h5 {
	margin: 0;
}

.comments li .comm-content {
	margin: 0;
}

.comments li .comm-time {
	font-size: 10px;
	margin-bottom: 1px;
}

.comments li:nth-child(even){
  	background:#ddd;
}

.fa {
    font-size: 25px;
    padding-right: 10px;
}

.checked {
    color: orange;
}

.main-title {
	margin: 50px;
  margin-top: 20px;
	margin-bottom: 20px;
  padding-left: 0px;
}

.secondary-title {
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-files-table {
	margin-left: 50px;
	margin-bottom: 50px;
	border: 3px solid;
	border-collapse: collapse;
}

.all-files-table thead, tbody {
  width: 100%;
  display: block;
}

.all-files-table th, td {
  width: 50%;
	border: 1px solid gray;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.all-files-table th {
  color: white;
}

.all-files-table thead {
  padding-right: 15px;
}

.all-files-table tbody {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.all-files-table tr:nth-child(odd){
    background:#ddd;
}

.search-bar {
  margin-left: 35px;
}

.search-bar {
  margin-top: 50px;
}

.search-bar input[type=text] {
  max-width: 570px;
}

.search-bar button {
  max-width: 30px;
}

.user-files-table tbody {
  display: block;
  height: 250px;
  border: 3px solid;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden;
}


.user-files-table td {
  border: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-files-table tr:nth-child(odd){
    background:#ddd;
}

.user-files-table .file-actions {
  padding: 20px;
}

a {
  cursor: pointer;
}